# Environment variables
.env

promptfoo-tests/

# IDE specific files (IntelliJ / PyCharm)
.idea/

# Log files
logs/
*.log

# Output files
output/

# Python specific files
*.pyc
__pycache__/
.venv/ # Assuming your virtual environment is named .venv
venv/  # Common alternative name for virtual env